snippet main "Main function"
int main(int argc, const char* argv[]) {
	$0

	return 0;
}
endsnippet

snippet guard "Header file include guards"
#ifndef __${1:name}__
#define __$1__

$0

#endif
endsnippet
